
:root {
  --bg-color: #ffffff; 
  --text-color: #000000; 
  --card-bg: #f4f4f4; 
  --button-bg: #eeeeee; 
  --button-hover-bg: #6200ea; 
  --button-hover-color: #ffffff; 
}

@media (prefers-color-scheme: dark) {
:root {
  --bg-color: #121212; 
  --text-color: #ffffff; 
  --card-bg: #1e1e1e; 
  --button-bg: #333333; 
  --button-hover-bg: #bb86fc; 
  --button-hover-color: #000000; 
}
}

body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: var(--bg-color);
color: var(--text-color);
}

.projects-container {
padding: 2rem;
text-align: center;
margin-top: 2rem; 
}

.projects-title {
font-size: 2.5rem;
margin-bottom: 2rem;
color: var(--text-color);
margin-top: 2rem; 
}

.projects-grid {
display: flex;
flex-wrap: wrap; 
gap: 2rem; 
justify-content: center;
margin-top: 2rem; 
}

.project-card {
background-color: var(--card-bg); 
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
padding: 1.5rem;
width: 300px;
text-align: center;
transition: transform 0.3s ease, box-shadow 0.3s ease;
color: #ffffff; 
}

.project-card:hover {
transform: translateY(-5px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-card h2 {
margin: 0 0 1rem;
font-size: 1.5rem;
color: #ffffff; 
}

.project-card p {
margin: 0.5rem 0;
font-size: 1rem;
color: #ffffff; 
}


.project-links {
display: flex;
justify-content: center;
flex-wrap: wrap; 
gap: 0.5rem;
margin-top: 1rem;
}

.project-links a {
display: inline-block;
padding: 0.5rem 1rem;
background-color: var(--button-bg);
color: #ffffff;
text-decoration: none;
border-radius: 4px;
transition: all 0.3s ease;
}

.project-links a:hover {
background-color: var(--button-hover-bg);
color: var(--button-hover-color);
}

@media (max-width: 768px) {
.project-card {
  width: 100%; 
}

.project-links {
  flex-direction: column; 
}

.project-links a {
  width: 100%; 
  text-align: center;
}
}